*{
    margin: 0;
    padding: 0;
}
.menu{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: x-large;
   
}

.menu2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: x-large;

}

.textillo{

    font-size: xx-large;
    font-weight: 700;
}

footer{
background-color: whitesmoke;
font-size: xx-large;

}

body{
    background-color: whitesmoke;
}

.txto{
    color: black;
}